/* Estilos generales */
body,
html,
#root,
.App {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Estilos específicos del componente Cart */
.Cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f8f9fa;
  width: 70%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

/* Dividir en columnas */
.Product .column {
  flex: 1;
}

.Product .text {
  text-align: right;
  margin-right: 200px;
}

.Product img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  margin-left: 20px;
}

/* Estilos adicionales */
.Product .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.Product h2 {
  margin: 0;
}

.Product p {
  margin: 5px 0;
}

/* Estilos para el formulario de pago */
.PaymentForm {
  width: 100%;
  margin-top: 20px;
}

.PaymentForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PaymentForm .form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-bottom: 10px;
}

.PaymentForm label {
  width: 30%; /* Ajusta el ancho del label */
  text-align: left;
  padding-right: 10px; /* Espacio entre el label y el input */
}

.PaymentForm input {
  width: 70%; /* Ajusta el ancho del input */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f9fa;
  color: #2e2e2e;
}

.PaymentForm button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.PaymentForm button:hover {
  background-color: #0056b3;
}

.Iframe {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 400px;
  height: 600px;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Iframe iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.Cart button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.Cart button:hover {
  background-color: #0056b3;
}
